<?xml version="1.0" encoding="utf-8"?>
<installer-script minSpecVersion="1.000000" authoringTool="org.ruby-lang.rake" authoringToolVersion="0.8.7">
  <title>Heroku Toolbelt</title>
  <options customize="allow" allow-external-scripts="yes"/>
  <domains enable_localSystem="true"/>
  <choices-outline>
    <line choice="heroku-client"/>
  </choices-outline>
  <choice id="heroku-client" title="Heroku Client">
    <pkg-ref id="com.heroku.client"/>
    <pkg-ref id="org.ruby-lang.installer"/>
  </choice>
  <pkg-ref id="com.heroku.client" installKBytes="<%= kbytes %>" version="<%= version %>" auth="Root">#heroku-client.pkg</pkg-ref>
  <pkg-ref id="org.ruby-lang.installer" installKBytes="9132" auth="Root">#ruby.pkg</pkg-ref>
</installer-script>
